.rectangle-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: #5936d5;
  border: none;
  font-size: 1.1rem;
  font-family: 'Montserrat';
  font-weight: bold;
  box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.23);
  min-width: 250px;
  height: 60px;
  box-sizing: border-box;
  transition: background-color 200ms, border 200ms, color 200ms;
}

.rectangle-button.alternative {
  background-color: unset;
  border: 2px solid #FFF;
  text-transform: unset;
}

.rectangle-button:hover {
  cursor: pointer;
}

.rectangle-button:not(.alternative):hover {
  background-color: #6946e5;
}

.rectangle-button.alternative:hover {
  background-color: #6946e5;
}
