{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ]
  },
  "plugins": [
    "prettier"
  ]
}
