.not-found-page {
  text-align: center;
}

.not-found-page__404 {
  font-family: 'Montserrat';
  font-weight: 900;
  color: #5d43c5;
  font-size: 9em;
}

.not-found-page__ruler {
  position: absolute;
  top: 318px;
  left: 0;
  right: 0;
  border-top: 3px solid #5d43c5;
  border-bottom: 0;
}

.not-found-page__subtitle {
  font-family: 'BebasNeue';
  text-transform: uppercase;
  font-weight: 400;
  margin-top: -10px;
  font-size: 1.1em;
}

.not-found-page__back-button {
  margin-top: 50px;
}
