.track-box-container {
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align:top;
}
.track-box-container {
  margin-right: 3.33%;
}

.track-box {
  background-color: #FFF;
  margin: 0;
}

.track-box .track-thumb {
  display: block;
  width: 100%;
  padding: 56.25% 0 0 0;
  background-color: #999;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  border: none;
}

.track-box .track-thumb .play-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 200ms;
  cursor: pointer;
}

.track-box .track-information {
  margin-left: 18px;
  margin-right: 35px;
  min-height: 100px;
}

.track-box .track-title-component {
  margin-top: 20px;
  height: 50px;
}

.track-box .track-votes-container .track-votes-count {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 700px) {
  .track-box-container {
    width: 50%;
    padding: 10px;
  }
  .track-box-container.index-2 {
    margin-top: 0;
  }
  .track-box-container.index-3 {
    margin-top: 0;
  }

  .track-box .track-title-component {
    margin-top: 20px;
    height: unset;
  }

  .track-box .track-votes-container .track-votes-count {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .track-box-container {
    width: 100%;
  }
}
