.track-box {
  background-color: #FFF;
  display: inline-block;
  margin: 0;
  vertical-align:top;
  width: 33.33%;
}

.track-box.index-2 {
  margin-top: 20px;
}
.track-box.index-3 {
  margin-top: 40px;
}

.track-box .track-thumb {
  display: block;
  width: 100%;
  padding: 56.25% 0 0 0;
  background-color: #999;
  background-position: center;
  background-size: cover;
  border: 1px solid #fff;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.track-box .track-thumb .play-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 200ms;
  cursor: pointer;
}

.track-box .track-thumb .play-button.play-button-normal {
  opacity: 1;
}
.track-box .track-thumb:hover .play-button.play-button-normal {
  opacity: 0;
}
.track-box .track-thumb .play-button.play-button-hover {
  opacity: 0;
}
.track-box .track-thumb:hover .play-button.play-button-hover {
  opacity: 1;
}

.track-box .track-information {
  margin-left: 18px;
  margin-right: 50px;
  min-height: 100px;
}

.track-box .track-title {
  margin-top: 37px;
  margin-bottom: 0;
  height: 100px;
  overflow: hidden;
  font-family: 'Montserrat';
  font-weight: unset;
  text-transform: uppercase;
  color: #8300FC;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
}

.track-box .track-votes {
  margin-top: 43px;
  margin-bottom: 37px;
  font-family: Oxygen;
  color: #5bdc77;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  display: inline-block;
}

.track-box .track-upvote-button {
  display: inline-block;
  transform: skew(-20deg);
  background-color: #62DD7C;
  margin-left: 20px;
  cursor: pointer;
  text-align: center;
  width: 40px;
  transition: background-color 100ms;
}

.track-box .track-upvote-button:hover {
  background-color: #8300FC;
}

.track-box .track-upvote-button span {
  display: inline-block;
  transform: skew(20deg);
}

.track-box .track-upvote-button.has-upvoted {
  cursor: default;
  background-color: #8300FC;
}
