.search-genres-container {
  width: 650px;
  max-width: 80%;
}

.search-genres-container .search-input-container {
  position: relative;
}

.search-genres-container .search-input-container .search-input {
  width: 620px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #5841F2;
  color: #5841F2;
  background-color: #a6f168;
  padding: 0 3%;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  transition: width 200ms, height 200ms;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

.search-genres-container .search-input-container .search-icon {
  position: absolute;
  right: 30px;
  bottom: 1px;
  cursor: pointer;
  background-color: #a6f168;
}

.search-genres-container .search-input-container.focused .search-input,
.search-genres-container .search-input-container .search-input:focus {
  width: 100%;
  height: 70px;
}

@media (max-width: 800px) {
  .search-genres-container .search-input-container.focused .search-input {
    height: 40px;
  }
}
