.search-genres-container {
  width: 650px;
  max-width: 80%;
}

.search-genres-container .search-input-container {
  position: relative;
}

.search-genres-container .search-input-container .search-icon {
  position: absolute;
  right: 25px;
  bottom: 0px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .search-genres-container {
    max-width: 100%;
  }
}
