.search-genres-container {
  width: 650px;
  max-width: 80%;
}

.search-genres-container .search-input-container {
  position: relative;
}

.search-genres-container .search-input-container .search-icon {
  position: absolute;
  right: 30px;
  bottom: 1px;
  cursor: pointer;
  background-color: #a6f168;
}

@media (max-width: 600px) {
  .search-genres-container {
    max-width: 100%;
  }
}
