.search-genres-container .suggestions-container {
  color: #5841F2;
  background-color: #a6f168;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}

.search-genres-container .suggestions-container .suggestions-item {
  padding: 1.5% 3%;
  box-sizing: border-box;
}

.search-genres-container .suggestions-container .suggestions-item.selected,
.search-genres-container .suggestions-container .suggestions-item:hover {
  color: #fff;
  background-color: #7672D8;
  cursor: pointer;
}

@media (max-width: 800px) {
  .search-genres-container .search-input-container.focused .search-input {
    height: 40px;
  }
}
