.main-header {
  color: #fff;
  background-color: #00D1B2;
  box-shadow: 1px 0 3px #00D1B2;
  min-height: 100px;
  padding: 0 20px;
}

.main-nav .main-nav-brand {
  line-height: 100px;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'fyodor';
  font-style: italic;
  text-shadow: 1px 1px 1px #007d6a;
}

.main-nav .side-links {
  float: right;
}

.main-nav .side-links .side-link {
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 100px;
  padding: 20px;
  margin: 0 5px;
  transition: background-color 200ms, color 200ms;
}

.main-nav .side-links .side-link:hover {
  background-color: #05ffda;
  color: #008571;
}
