{
  "database": {
    "host": "localhost",
    "user": "music-genres",
    "password": "change-me",
    "database": "music-genres"
  },
  "index": {
    "host": "localhost:9200"
  },
  "player-services": {
    "youtube": {
      "api": {
        "key": "change-me"
      }
    }
  },
  "api": {
    "logger": {
      "console": {
        "level": "debug"
      },
      "file": {
        "filename": "api.log",
        "level": "debug"
      }
    }
  }
}
