.container {
  padding-top: 5rem;
}

.title {
  font-family: BebasNeue;
  text-transform: uppercase;
  font-size: var(--font-size-30);
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: var(--font-size-18);
  margin-top: 0.5rem;
}
