.music-genre-page .top-tracks-container {
  margin-top: 80px;
}

.music-genre-page .add-track-row {
  margin-top: 108px;
  text-align: center;
}

.music-genre-page .more-of-title {
  margin-top: 100px;
}

.music-genre-page .other-tracks-container {
  margin-top: 100px;
}

@media (max-width: 700px) {
  .music-genre-page .top-tracks-container,
  .music-genre-page .other-tracks-container {
    margin-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .music-genre-page .add-track-row,
  .music-genre-page .more-of-title {
    margin-top: 50px;
  }
}
