module.exports = {
  database: {
    host: "localhost",
    user: "music-genres",
    password: "CHANGE-ME",
    database: "music-genres",
  },
  playerServices: {
    youtube: {
      api: {
        key: "CHANGE-ME",
      },
    },
  },
};
