module.exports = {
  database: {
    host: "localhost",
    user: "music-genres",
    password: "9BNReXahyhcCpW2p",
    database: "music-genres",
  },
  playerServices: {
    youtube: {
      api: {
        key: "change-me"
      }
    }
  },
  api: {
    logger: {
      console: {
        level: "debug",
      },
    }
  }
}
