.main-header {
  max-width: 1020px;
  margin: auto;
  padding: 30px 10px;
}

.main-header .main-logo {
  display: inline-block;
}

.main-header .main-logo img {
  position: relative;
}

.main-header .side-buttons {
  float: right;
}

.main-header .side-buttons .side-button {
  border: none;
  padding: 10px;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85em;
}

@media (max-width: 500px) {
  .main-header .main-logo img {
    width: 130px;
  }
}
