.main-header {
  max-width: 1000px;
  margin: auto;
  padding: 30px 5%;
}

.main-header .main-logo {
  display: inline-block;
}

.main-header .main-logo img {
  position: relative;
}

.main-header .side-buttons {
  float: right;
  margin-top: 24px;
}

.main-header .side-buttons .side-button {
  border: 2px solid white;
  padding: 10px 22px;
  margin-left: 20px;
}

.main-header .side-buttons .side-button img {
  margin-left: 10px;
  vertical-align: middle;
}

@media (max-width: 500px) {
  .main-header .main-logo img {
    width: 130px;
  }
}
