.add-video-container .add-video-content {
  margin: auto;
  position: relative;
  width: 620px;
  max-width: 95%;
  margin-top: 70px;
}

.add-video-container .add-video-ruler {
  border: 1px solid #6F59EB;
  right: 0;
  left: 0;
  top: 220px;
  position: absolute;
}

.add-video-container .add-video-background-title {
  text-align: center;
  width: 100%;
}

.add-video-container.step-1 .add-video-background-title {
  font-size: 115px;
  top: -88px;
}

.add-video-container .step-title {
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  text-align: center;
}

.add-video-container .step-title .step-number {
  font-size: 19px;
  position: absolute;
  left: 0;
  bottom: 2px;
}

.add-video-container .step-title .step-step {
  font-size: 15px;
  position: absolute;
  right: 0;
  bottom: 3px;
}

.add-video-container .search-genres-container {
  width: 100%;
  max-width: 100%;
}

.add-video-container .validate-button-container {
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 700px) {
  .add-video-container .add-video-ruler {
    display: none;
  }

  .add-video-container .validate-button-container .validate-button.alternative {
    display: none;
  }
  .add-video-container .validate-button-container .validate-button:not(.alternative) {
    width: 100%;
  }
}
