.track-votes-container .track-votes-count {
  font-family: Oxygen;
  color: #693FFA;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  display: inline-block;
}

.track-votes-container .track-upvote-button {
  display: inline-block;
  transform: skew(-20deg);
  background-color: #693FFA;
  margin-left: 20px;
  cursor: pointer;
  text-align: center;
  width: 40px;
  transition: background-color 100ms;
}

.track-votes-container .track-upvote-button:hover {
  background-color: #2fda59;
}

.track-votes-container .track-upvote-button span {
  display: inline-block;
  transform: skew(20deg);
}

.track-votes-container .track-upvote-button.has-upvoted {
  cursor: default;
  background-color: #2fda59;
}

@media (max-width: 700px) {
  .track-votes-container .track-votes-count {
    font-size: 16px;
  }

  .track-votes-container .track-upvote-button {
    font-size: 16px;
    width: 30px;
  }
}
