.add-video-container.step-2 .add-video-background-title {
  font-size: 109px;
  top: -85px;
}

.add-video-container.step-2 .validate-button {
  position: absolute;
}

.add-video-container.step-2 .validate-button.alternative {
  left: 0;
}
.add-video-container.step-2 .validate-button:not(.alternative) {
  right: 0;
}
