#ytplayer {
  max-width: 100%;
}

.player-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(62, 37, 190, 0.9);
  z-index: 100;
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
}

.player-container.hidden {
  visibility: hidden;
  opacity: 0;
}

.player-container .player-content {
  width: 650px;
  max-width: 95%;
  margin: auto;
  margin-top: 100px;
  position: relative;
}

.player-container .player-content .background-title {
  top: -53px;
  font-size: 122px;
}

.player-container .player-content .hashtag-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 25px;
}

.player-container .player-content .close-button {
  float: right;
  cursor: pointer;
  margin-top: 6px;
}

.player-container .player-content .player-box {
  background-color: #FFF;
  border: 2px solid #FFF;
}

.player-container .player-content .track-information {
  margin: 37px 15px;
}

.player-container .player-content .track-title-component {
  display: inline-block;
  vertical-align:top;
  width: 70%;
}

.player-container .player-content .track-title-component.full-width {
  width: unset;
}

.player-container .track-votes-container {
  display: inline-block;
  vertical-align:top;
  width: 30%;
  text-align: right;
}

.player-container .track-votes-container .track-votes-count {
  display: block;
  text-align: right;
  margin-bottom: 8px;
}

.player-container .arrow-container {
  position: absolute;
  top: 250px;
  cursor: pointer;
}

.player-container .arrow-container.left-arrow-container {
  left: -72px;
}

.player-container .arrow-container img.hover {
  display: none;
}
.player-container .arrow-container:hover img.hover {
  display: inline;
}
.player-container .arrow-container:hover img.normal {
  display: none;
}

.player-container .arrow-container.right-arrow-container {
  right: -72px;
}

.player-container .action-buttons {
  margin: 25px 0;
}

.player-container .action-buttons .rectangle-button {
  width: 300px;
}

@media (max-width: 700px) {
  #ytplayer {
    height: 350px;
  }

  .player-container .player-content .background-title {
    display: none;
  }

  .player-container .player-content {
    margin-top: 20px;
  }

  .player-container .player-content .hashtag-title {
    text-align: center;
  }

  .player-container .action-buttons .rectangle-button {
    width: 50%;
    min-width: unset;
  }
}

@media (max-width: 400px) {
  #ytplayer {
    height: 250px;
  }

  .player-container .action-buttons .rectangle-button {
    width: 100%;
  }
}
