.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 0.9rem;
  color: #FFF;
}

.main-footer-content {
  max-width: 660px;
  border-top: 1px #a0fdf7 solid;
  margin: auto;
}

.main-footer-content .plus-sign {
  width: 18px;
  height: 13px;
}
