{
  "extends": [
    "../.eslintrc",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": "off",
    "react/sort-comp": "off",
    "react/no-array-index-key": "off",
    "react/button-has-type": "off"
  }
}
