html {
  min-height: 100%;
  position: relative;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BebasNeueRegular.woff');
}

body {
  background: #2a1964; /* Old browsers */
  background: linear-gradient(45deg, #2a1964 0%,#2a1964 20%,#693ffa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  min-height: 800px;
  padding: 0;
}

ul, p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
