.homepage-container {
  text-align: center;
  padding-top: 100px;
}

.homepage-container>div {
  opacity: 1;
  transition: opacity 500ms;
}

.homepage-container .hidden {
  opacity: 0;
}

.homepage-container .search-genres-container {
  margin: auto;
}

.homepage-container .or-container {
  margin: 60px;
}

.homepage__baseline {
  text-transform: uppercase;
  font-family: 'BebasNeue';
  font-size: 1.5em;
  margin-bottom: 10px;
}

.homepage__subbaseline {
  margin-bottom: 40px;
  font-size: 0.9em;
}

.homepage__examples {
  height: 30px;
  margin-top: 15px;
  line-height: 30px;
  font-size: 0.8em;
}

.homepage__example {
  margin: 0 5px;
  padding: 0 10px;
  background-color: #2f356b;
  box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.23);
  height: 30px;
  display: inline-block;
}

.homepage__example:first-child {
  margin-left: 15px;
}

@media (max-width: 800px) {
  .homepage-container {
    padding-top: 20px;
  }
}
