.homepage-container {
  text-align: center;
  padding-top: 120px;
}

.homepage-container>div {
  opacity: 1;
  transition: opacity 500ms;
}

.homepage-container .hidden {
  opacity: 0;
}

.homepage-container .or-container {
  margin: 75px;
}

.homepage-container .random-container .random-button {
  text-transform: uppercase;
  color: #FFF;
  padding: 25px 55px;
  background-color: #64F6EC;
  border: 2px white solid;
  font-size: 1.4rem;
  font-family: 'Montserrat Subrayada';
  font-weight: bold;
}

.homepage-container .random-container .random-button:hover {
  cursor: pointer;
}
